html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #f3f3f3;
  color: #fff;
  min-width: 320px;
  //font-family: 'Roboto', sans-serif;
  //font-family: 'Raleway', sans-serif;
  //font-family: 'Lora', serif;
}

a {
  text-decoration: none;
  //color: #fff;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: all .2s linear;

  &:hover,
  &:focus {
    color: #000000;
  }
}

.widget_search {
  .screen-reader-text {
    display: none;
  }
  input[name="s"] {
    width: 250px;
    padding: 10px 45px 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #searchsubmit {
    margin-left: -86px;
    padding: 9px 20px;
    display: inline-block;
    color: #fff;
    background-color: #16d428;
    border: 1px solid #16d428;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: transparent;
      color: #000000;
    }
  }
}