.flexslider {
  color: #ffffff;
  position: relative;
  margin-bottom: 20px;
  .slides {
    text-align: center;
    li {
      background-size: cover;
      background-repeat: no-repeat;

      .wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 300px;
      }
      h2 {
        font-size: 50px;
        font-weight: 700;
        background-color: #e2534b;
        padding: 10px 5px;
        display: inline-block;
      }
      .slider-content {
        font-size: 16px;
        background-color: rgba(0,0,0,.5);
        width: 40%;
      }
    }
  }
  .flex-control-nav {
    text-align: center;
    li {
      display: inline-block;

      margin: 0 5px;
      font-size: 0;
      a {
        display: block;
        background-color: #b0b8b9;
        width: 60px;
        height: 5px;
        text-indent: -9999px;

        &.flex-active {
          background-color: #e2534b;
        }
      }
    }
  }
  .flex-prev,
  .flex-next {
    font-size: 0;
  }
  .flex-direction-nav {

    .flex-prev {
      left: 0;
    }

    .flex-next {
      right: 0;
      padding-left: 22px;
    }
  }
  .flex-direction-nav a {
    width: 50px;
    height: 57px;
    padding-left: 15px;
    background-color: #e2534b;
    opacity: 1 !important;
    text-shadow: none;
    z-index: 100;
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);

    &:active, &:focus, &:hover, &:link {
      color: white;
    }

    &:before {
      line-height: 60px;
      font-size: 25px;
      font-family: 'FontAwesome', sans-serif;
      color: white;
      content: '\f100';
      opacity: 1;
      text-indent: 0;
    }

    &.flex-next:before {
      padding-right: 15px;
      content: '\f101';
    }
  }
}